.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 250px;
  background-color: bisque;
  margin: 15px auto;

  &-container {
    padding: 16px;
  }

  &-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 270px;
    margin-bottom: 15px;
    object-fit: cover;
  }
}

@media (min-width: 430px) {
  .card {
    max-width: 236px;

    &-img {
      height: 350px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 300px;
  }
}
