.gryffindor-wrap {
  background-color: brown;
  padding: 20px 0;
}

.gryffindor {
  &-logo {
    max-width: 150px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

@media (min-width: 430px) {
  .gryffindor {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    &-logo {
      max-width: 200px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

@media (min-width: 1024px) {
  .gryffindor {
    overflow-x: scroll;

    &-list {
      justify-content: left;
      flex-wrap: nowrap;
    }
  }
}
